name: Terraform Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validate_terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.1.0

      - name: Terraform Initalize
        run: terraform init

      - name: Terraform Initalize
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate